# -----------------------------------------------------------------------------------
# ----------------- SELECCION DE MOTOR DE BASE DE DATOS POR DEFECTO -----------------
# -----------------------------------------------------------------------------------

# mongo o postgres
DB_GLOBAL_TYPE=mongo 

# -----------------------------------------------------------------------------------
# ------------- SELECCION DE MOTOR DE BASE DE DATOS POR DAO/REPOSITORIO -------------
# -----------------------------------------------------------------------------------

# Importante: esta configuracion se puede omitir completamente, la unica obligatoria
# es DB_GLOBAL_TYPE

# Daos (mongo o postgres)
#DB_USER_DAO_TYPE=mongo
#DB_LIBRARY_DAO_TYPE=mongo
#DB_GROUP_DAO_TYPE=mongo
#DB_KAHOOT_DAO_TYPE=mongo
#DB_SOLOATTEMPT_DAO_TYPE=mongo
#DB_EXPLORE_DAO_TYPE=mongo
#DB_ASSETMETADATA_DAO_TYPE=mongo

# Repositorios (mongo o postgres)
#DB_USER_REPO_TYPE=mongo
#DB_KAHOOT_REPO_TYPE=mongo
#DB_ATTEMPT_REPO_TYPE=mongo
#DB_GROUP_REPO_TYPE=mongo
#DB_MULTIPLAYERSESSION_REPO_TYPE=mongo

# -----------------------------------------------------------------------------------
# -------------------------------- CONEXION A MONGO ---------------------------------
# -----------------------------------------------------------------------------------

# Mongo seguro
MONGO_USER=dev
MONGO_PASSWORD=superSecretPass123
MONGO_HOST=localhost
MONGO_PORT=27017
DB_NAME=quizzy

MONGO_CNN=

# -----------------------------------------------------------------------------------
# ------------------------------ CONEXION A POSTGRES --------------------------------
# -----------------------------------------------------------------------------------

# Postgres seguro
DB_HOST=localhost
DB_PORT=5432
DB_NAME=quizzy
DB_USERNAME=dev
DB_PASSWORD=superSecretPass123

# -----------------------------------------------------------------------------------
# ----------------------------- CONFIGURACION GENERAL -------------------------------
# -----------------------------------------------------------------------------------

# Esto se usa para saber si estamos en produccion o no
IS_PROD=false

# Variables de puertos
PORT=3000
WEB_SOCKET_SERVER_PORT = 3000

# Configuracion de Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Numero de intentos para generar un pin unico
PIN_GENERATION_ATTEMPTS=50;

# Tiempo de periodo de gracia en segundos para esperar la reconexion de un host, y tiempo de espera de confirmacion de conexion con el servidor
GRACE_PERIOD_TIME=600000
CLIENT_CONFIRMATION_TIME=60000

# Firma secreta para los JWT
JWT_SECRET=EstaEsUnaClaveSuperSecretaQueNadieDebeSaber12345

# Duración de los JWT
JWT_EXPIRES_IN=2h
