# -----------------------------------------------------------------------------------
# ----------------- SELECCION DE MOTOR DE BASE DE DATOS POR DEFECTO -----------------
# -----------------------------------------------------------------------------------

# Opciones permitidas: mongo | postgres
DB_GLOBAL_TYPE=mongo 

# -----------------------------------------------------------------------------------
# ------------- SELECCION DE MOTOR DE BASE DE DATOS POR DAO/REPOSITORIO -------------
# -----------------------------------------------------------------------------------
# Nota: Esta configuración es opcional. Si se comenta, se usará DB_GLOBAL_TYPE.

# DAOs (mongo o postgres)
#DB_USER_DAO_TYPE=mongo
#DB_LIBRARY_DAO_TYPE=mongo
#DB_GROUP_DAO_TYPE=mongo
#DB_KAHOOT_DAO_TYPE=mongo
#DB_SOLOATTEMPT_DAO_TYPE=mongo
#DB_EXPLORE_DAO_TYPE=mongo
#DB_ASSETMETADATA_DAO_TYPE=mongo
#DB_BACKOFFICE_DAO_TYPE=mongo
#DB_MULTIPLAYERSESSION_DAO_TYPE=mongo

# Repositorios (mongo o postgres)
#DB_USER_REPO_TYPE=mongo
#DB_KAHOOT_REPO_TYPE=mongo
#DB_ATTEMPT_REPO_TYPE=mongo
#DB_GROUP_REPO_TYPE=mongo
#DB_MULTIPLAYERSESSION_REPO_TYPE=mongo
#DB_MASS_MESSAGE_REPO_TYPE=mongo
#DB_NOTIFICATION_REPO_TYPE=mongo
#DB_DEVICE_REPO_TYPE=mongo

# -----------------------------------------------------------------------------------
# -------------------------------- CONEXION A MONGO ---------------------------------
# -----------------------------------------------------------------------------------

# IMPORTANTE: Si se proporciona MONGO_CNN, se usará esta cadena para la nube (Atlas)
# y se ignorarán las variables de conexión local de abajo.
MONGO_CNN=

# Configuración para conexión local
MONGO_USER=dev
MONGO_PASSWORD=superSecretPass123
MONGO_HOST=mongo_dev
MONGO_PORT=27017
DB_NAME=quizzy

# Mongo en la nube
# MONGO_CNN=

# -----------------------------------------------------------------------------------
# ------------------------------ CONEXION A POSTGRES --------------------------------
# -----------------------------------------------------------------------------------

# IMPORTANTE: Si se proporciona POSTGRES_CNN, se usará esta cadena para la nube
# y se ignorarán las variables de conexión local de abajo.
POSTGRES_CNN=

# Configuración de base de datos relacional
DB_HOST=postgres_dev
DB_PORT=5432
DB_NAME=quizzy
DB_USERNAME=dev
DB_PASSWORD=superSecretPass123

# -----------------------------------------------------------------------------------
# ----------------------------- CONFIGURACION GENERAL -------------------------------
# -----------------------------------------------------------------------------------

# Indica si la aplicación corre en entorno de producción
IS_PROD=false

# Puertos de la aplicación
PORT=3000
WEB_SOCKET_SERVER_PORT=3003

# Configuración de Cloudinary para gestión de imágenes/assets
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Configuración de Firebase para gestión de notificaciones push
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

# -----------------------------------------------------------------------------------
# ------------------------------- LOGICA DE NEGOCIO ---------------------------------
# -----------------------------------------------------------------------------------

# Número de intentos para generar un pin de juego único
PIN_GENERATION_ATTEMPTS=50

# Tiempos de espera (en milisegundos)
# GRACE_PERIOD_TIME: Tiempo de espera para reconexión de un host
GRACE_PERIOD_TIME=600000
# CLIENT_CONFIRMATION_TIME: Tiempo de espera de confirmación con el servidor
CLIENT_CONFIRMATION_TIME=60000

# -----------------------------------------------------------------------------------
# ----------------------------------- SEGURIDAD -------------------------------------
# -----------------------------------------------------------------------------------

# Firma secreta para los tokens JWT (Cambiar por una cadena larga y aleatoria)
JWT_SECRET=EstaEsUnaClaveSuperSecretaQueNadieDebeSaber12345

# Tiempo de validez del token (ej: 2h, 120h, 300h, etc)
JWT_EXPIRES_IN=2h

# -----------------------------------------------------------------------------------
# ---------------------- SERVICIO DE ENVIO DE CORREOS (RESEND)-----------------------
# -----------------------------------------------------------------------------------

# API Key de Resend
RESEND_API_KEY=

# Email remitente (se necesita un nombre de dominio, y su respectiva configuracion en resend)
MAIL_FROM=notifications@quizzy

MAIL_FROM_NAME="Quizzy Notifications"

# OPCIONAL: Para desarrollo local
NODE_ENV=development