version: '3'

services:
  mongodb:
    image: mongo:7
    container_name: mongo-quizzy
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD}
      MONGO_INITDB_DATABASE: ${DB_NAME}
    volumes: 
      - ./mongo:/data/db
